/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

img{
  width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
.header{

}
.header-contents-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo{

}
.header-right{
  display: flex;
  align-items: center;
}
.header-right-inner{
  margin-left: 24px;
}
.header-right-link:hover{
  opacity: .7;
}

/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main-visual{
  
}
.main-visual-image{
  height: 640px;
  border-radius: 16px;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/
.section-title{
  border-bottom: 1px solid black;
  display: inline-block;
}

/* -------------------------------------------
  プロフィール
  -------------------------------------------*/
.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-contents-width{
  display: flex;
  margin-top: 40px;
  gap: 40px;
}
.profile-left-image{
  border-radius: 50%;
}
.profile-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-right-body{
  padding-top: 16px;
}
/* -------------------------------------------
  記事
  -------------------------------------------*/
.articles{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.articles-contents-width{
  width: 100%;
}
.articles-box{
  display: flex;
  column-gap: 16px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}
.articles-item{
  width: calc((100% - 32px)/3);
}
.articles-item-title{
  padding-top: 8px;
}
.articles-item-text{
  padding-top: 8px;
}

/*-------------------------------------------
  フッター
  -------------------------------------------*/

.footer{
  padding: 40px 0;
}
.footer-copyright{
  font-size: small;
  text-align: center;
}